configuration {

	modes: "window,drun,run,ssh";
	font: "JetBrains Mono 12";

	location: 7;
	yoffset:-5;
	xoffset: 5;

	width: 900;

	fixed-num-lines: false;

	filebrowser {
		directories-first: true;
		sorting-method:    "name";
	}

}

@theme "launcher"
