*.utf8:1
*.faceName:JetBrainsMono Nerd Font
*.faceSize:14
*.selectToClipboard:true
*.internalBorder: 8
! __cac:start
UXTerm.vt100.background: #1d2021
UXTerm.vt100.foreground: #ebdbb2
UXTerm.vt100.color0: #282828
UXTerm.vt100.color1: #cc241d
UXTerm.vt100.color2: #98971a
UXTerm.vt100.color3: #d79921
UXTerm.vt100.color4: #458588
UXTerm.vt100.color5: #b16286
UXTerm.vt100.color6: #689d6a
UXTerm.vt100.color7: #a89984
UXTerm.vt100.color8: #928374
UXTerm.vt100.color9: #fb4934
UXTerm.vt100.color10: #b8bb26
UXTerm.vt100.color11: #fabd2f
UXTerm.vt100.color12: #83a598
UXTerm.vt100.color13: #d3869b
UXTerm.vt100.color14: #8ec07c
UXTerm.vt100.color15: #ebdbb2
! __cac:end
