* {
	/* __cac:start */	 
	background: #1c2023;
	foreground: #c7ccd1;
	dimblack: #1c2023;
	dimred: #c7ae95;
	dimgreen: #95c7ae;
	dimyellow: #aec795;
	dimblue: #ae95c7;
	dimmagenta: #c795ae;
	dimcyan: #95aec7;
	dimwhite: #c7ccd1;
	brightblack: #747c84;
	brightred: #c7ae95;
	brightgreen: #95c7ae;
	brightyellow: #aec795;
	brightblue: #ae95c7;
	brightmagenta: #c795ae;
	brightcyan: #95aec7;
	brightwhite: #f3f4f5;
	/* __cac:end  */
}
